h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;/*左サイド余白*/
}

/*以下style*/
.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}
/*以上style*/

@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }

span#textins {
font-family: monospace; 
color : #FF0080;
width: 11ch;
border-right: .08em solid;
overflow: hidden;
font-size: 4em;
white-space: nowrap;
animation: typing 5s steps(11, end), caret .5s step-end infinite;
}
/*以上colorfulbo*/

/*table*/
.items{
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
}
.item{
box-sizing: border-box;
border:0px solid #ccc;
margin: 0;
padding: 0px;
width: 20%;
}
@media screen and (max-width:689px){
.item{
margin:0 0px 0px 0;
width: calc(0% - 0px / 2);
}
.item:nth-child(2n){
margin-right:0;
}
.item:nth-child(3n){
margin-right:0px;
}
.item:nth-child(6){
margin-right:0;
}
}

/*他*/
.abb1 {
font-size:90%;
background-color:#FFFFFF;
color:#000000;
}
/*box*/
.box1 {
display:inline-block;
border-radius: 0px;
border: 4px double #151515; 
font-size: 100%; 
padding: 1px;
}

/*以上box*/


span#policy {
  position: relative;
  padding: 15px;
  background-image: -webkit-linear-gradient(315deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  color: #FFFFFF;
  font-size:15px;
}

policy span {
  display: block;
  padding: 1rem 2rem;
  background: #fff;
}

/*以上見出しデザイン*/


a.btn--green {
  color: #fff;
  background-color: #094;
}

a.btn--green:hover {
  color: #fff;
  background: #00a349;
}

a.btn--green.btn--cubic {
  border-bottom: 5px solid #00662d;
}

a.btn--green.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00662d;
}

a.btn-c {
  font-size: 2rem;
  position: relative;
  padding: 1.5rem 3rem 1.5rem 2rem;
  border-radius: 100vh;
}

a.btn-c i.fa {
  margin-right: 1rem;
}

a.btn-c:before {
  font-family: 'Font Awesome 5 Free';
  font-size: 1.6rem;
  line-height: 1;
  position: absolute;
  top: calc(50% - .8rem);
  right: 1rem;
  margin: 0;
  padding: 0;
  content: '\f054';
}
/*以上formデザイン*/
